# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Folders
build/
bin/

# Ignore all overlay image files
overlays/*.ext3

# Ignore apptainer sifs
*.sif
.fuse*

# Evolutionary algorithm output files
fitness.csv
neural_network_*.csv
swimmers.txt
swimmers._txt
vpositions.txt
*_positions.csv
*_positions_filtered.csv
apptainer_out.log

# MOOS log files
*.alog
*._moos
*.blog
*.ylog

# Config files (except the example)
config.yaml
!examples/config.yaml

# Results softlink
results
